:root {
    --primary-color: #121212;
    /* --secondary-color: null;
    --tertiary-color: null; */
}

.cardColor {
    background-color: #202020;
}

body {
    background-color: var(--primary-color);
}

.container-fluid {
    column-gap: 15px;
}

.border {
    border-radius: 25px;
}

.card-header {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    background-color: #363636;
}

#weatherDetails {
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#fiveDayHeader {
    padding-top: 5px;
    margin-left: 27%;
}

.fiveContainer {
    column-gap: 20px;
    height: 11.5rem;
    margin-left: 27%;
}

.fiveDayStyle{
    width: 10rem; 
}
