:root {
    --primary-color: #121212;
    /* --secondary-color: null;
    --tertiary-color: null; */
}

.cardColor {
    background-color: #202020;
}

body {
    background-color: var(--primary-color);
}

.container-fluid {
    column-gap: 5px;
}

#weatherDetails {
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#fiveDayHeader {
    padding-top: 5px;
    margin-top: 5%;
}